##### SETS IN PYTHON

In [1]:
## Creating a set:

myset={1,2,3,4,5}
type(myset)

set

In [2]:
emptyset=set()
type(emptyset)

set

In [3]:
newset=set([1,2,3,4,5]) ##Take a data structure and type cast it to set
print(newset)
print(type(newset))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
newset={1,2,3,3,4,4,5,6}
newset

{1, 2, 3, 4, 5, 6}

BASIC SET OPERATIONS

In [6]:
##Adding and removing elements
myset.add(7)
myset

{1, 2, 3, 4, 5, 7}

In [7]:
myset.add(7)
myset

{1, 2, 3, 4, 5, 7}

In [8]:
## Removing elements

myset.remove(7)
myset

{1, 2, 3, 4, 5}

In [10]:
myset.discard(10) ##Gives no error even if the element is not there. Otherwise nothing happens.
myset

{1, 2, 3, 4, 5}

In [11]:
## pop method - First In First Out
ele=myset.pop()
print(ele)
print(myset)

1
{2, 3, 4, 5}

In [12]:
## Clear all the elements:

myset.clear()
myset

set()

In [13]:
## Set membership test:
myset={1,2,3,4,5}
print(3 in myset)
print(10 in myset)

True
False

In [14]:
##Mathematical operations on Sets

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

##Union:
unionset=set1.union(set2)
unionset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
##Intersection:

interset=set1.intersection(set2)
interset

{4, 5, 6}

In [16]:
## Intersection update
set1.intersection_update(set2)
set1

{4, 5, 6}

In [17]:
set2

{4, 5, 6, 7, 8, 9}

In [18]:
## Difference:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.difference(set2))

{1, 2, 3}

In [19]:
##Difference update

set1.difference_update(set2)
set1

{1, 2, 3}

In [20]:
## Symmetric difference:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [24]:
## Set methods:

set1={1,2,3,4,5}
set2={3,4,5}

##is subset
print(set1.issubset(set2))
print(set2.issubset(set2))

##superset
print(set1.issuperset(set2))

False
True
True

In [25]:
lt=[1,2,3,3,4,4,5]
list(set(lt)) ##Removing duplicate elements from a list and returning it as a list

[1, 2, 3, 4, 5]

In [28]:
## Counting unique words in text

text="We are discussing about sets. Sets are data structures."
words=text.split() ##Returns a list
words
unique=list(set(words))
print(unique)
print(len(unique))

['discussing', 'structures.', 'Sets', 'data', 'about', 'are', 'sets.', 'We']
8