VARIABLES

In [1]:
a=100

In [2]:
## Declairing and assigning variables

age=25
height=5.4
name='ray'
is_student=True

print("age: ",age)
print("height: ",height)
print("name: ",name)
print("student: ",is_student)

age:  25
height:  5.4
name:  ray
student:  True

In [6]:
##Naming conventions

##Valid variable names:

first_name='Ray'
last_name='Dubey'
_age_=25

##Invalid variable names:

##25age=25
##first-name='ray'
##@name='Ray'

In [7]:
## Understanding variable types

##Python is dynamically typed- Type of a variable is determined at run-time

age=25 ##int
height=5.4 ##float
name='ray' ##string
is_student=True #Boolean

In [8]:
## Type checking and conversion
age=25
print(type(age))

<class 'int'>

In [9]:
age_str=str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [10]:
age='25'
print(type(age))
age_int=int(age)
print(type(age_int))

<class 'str'>
<class 'int'>

In [11]:
##name='Ray' cannot turn into int(name)

In [12]:
height=5.44
type(height)

float

In [14]:
int(height)
#float(int(height))

5

In [15]:
##Python allows the type of a variable to change as the program executes
var=10
print(var,type(var))
var='ray'
print(var,type(var))
var=3.14
print(var,type(var))

10 <class 'int'>
ray <class 'str'>
3.14 <class 'float'>

In [ ]:
##input
## be default type is str for input
age=int(input("What is the age? "))
print(age, type(age))

25 <class 'int'>

Simple calculator

In [20]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))

sum=num1+num2
diff=num1-num2
mult=num1*num2
div=num1/num2

print("sum: ",sum)
print("difference: ", diff)
print("multiplication: ",mult)
print("division: ",div)

sum:  30.0
difference:  20.0
multiplication:  125.0
division:  5.0